.header{
    display: flex;
    }
.imgA__header{
    display: none;
}
.imgB__header{
    display: none;
}
.menu__table{
    display: block;
    width: 80%;
}
.menu_table__six{
display: flex;
justify-content: center;
}
.menu_table__six a{
    text-decoration: none;
    color: #005400;
    font-size: 1.2rem;
    list-style: none;
    font-weight: bold;
}
.menu_table__six li{
padding: 20px;
text-align: center;
font-size: 1.6rem;
}
.inicio__post{
    width: 100%;
    
}
.inicio-post__B img{
    width: 100%;
    height: 750px;
    padding-top: 90px;
    padding-top: 50px;
    background: #000000;
}
.titulo__misio{
    font-size: 2rem;
}
.tituloA__inicio h1{
    font-size: 2rem;
}
.imgsA__instal{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: repeat(2, 245px);
    margin-top: 20px;
    padding: 5px;
    
}
.tituloB__inicio h1{
    font-size: 2rem;
}
.section__ofertas{
    width: 70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.section__ofertas img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 275px;
    padding: 25px;
}
.tituloC__inicio h1{
    font-size: 2rem;
}
.imgsB__instal{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: repeat(2, 245px);
    margin-top: 20px;
    padding: 10px;
    
}

.transparent_platillos1, .transparent_platillos2, .transparent_platillos3, .transparent_platillos4, .transparent_platillos5, .transparent_platillos6, .transparent_platillos7, .transparent_platillos8, .transparent_platillos9, .transparent_platillos10, .transparent_platillos11{
bottom: 225px;
left: 50px;
}


