*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-image: url(../img/principal/fondo.jpg);
}
@font-face {
    font-family: "Fuente  Lato";
    src: url(Lato.zip);
}
.header{
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: rgb(34, 34, 34) 5px 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
}
.log__header{
    padding-bottom: 2px;
    padding-top: 2px;
    width: 40%;
    max-width: 130px;
}
.imgA__header{
    width: 30px;
    height: 30px;
}
.imgB__header{
    width: 30px;
    height: 30px;
    display: none;
}
.menu__phone{
    background: #fff9;
    width: 35%;
    border-radius: 0px 0px 5px 5px;
    position: fixed;
    right: 5%;
    top: 68px;
    justify-content: center;
    display: none;
}
.menu_phone__six{
list-style: none;
text-align: center;
}
.menu_phone__six a{
    text-decoration: none;
    color: #005400;
    font-size: 1.2rem;
    font-weight: bold;
}
.menu_phone__six li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.inicio__post{
    width: 100%;
    
}
.inicio-post__B img{
    width: 100%;
    height: 390px;
    padding-top: 50px;
}
.local__float{
    position: fixed;
    top: 250px;
    right: 10px;
}
.mision{
    width: 100%;
    margin-top: 20px;
}
.titulo__misio{
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    color: #005400;
    background: #fff6;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    font-weight: bold;
    max-width: 400px;
}
.parrafo__mision{
    text-align: center;
    font-size: 1.4rem;
    background: #fff6;
    color: #005400;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.tituloA__inicio{
    width: 90%;
    background: #fff6;
    color: #005400;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    margin-top: 20px;
    max-width: 400px;
}
.tituloA__inicio h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
}
.imgsA__instal{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 125px);
    margin-top: 20px;
}
.imgsA__instal img{
width: 100%;
height: 100%;
}
.tituloB__inicio{
    width: 90%;
    background: #fff6;
    color: #005400;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    margin-top: 10px;
    max-width: 400px;
    text-align: center;
}
.tituloB__inicio h1{
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
}
.section__ofertas{
    display: flex;
    height: 230px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background: #fff9;
    margin-top: 10px;
}
.section__ofertas img{
    width: 230px;
    height: 100%;
padding: 15px;
}
.tituloC__inicio{
    width: 90%;
    background: #fff6;
    color: #005400;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    margin-top: 10px;
    max-width: 400px;
}
.tituloC__inicio h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
}

.imgsB__instal{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 125px);
    margin-top: 20px;
}
.imgsB__instal img{
width: 100%;
height: 100%;
}
.foter{
    width: 100%;
    height: 100px;
}



/*el menu de la tablet escondido en el telefono*/
.menu__table{
    display: none;
}



.div_platillos1, .div_platillos2, .div_platillos3, .div_platillos4, .div_platillos5, .div_platillos6, .div_platillos7, .div_platillos8, .div_platillos9, .div_platillos10, .div_platillos11{
width: 100%;
height: 100%;
background: #fff6;

}
.transparent_platillos1, .transparent_platillos2, .transparent_platillos3, .transparent_platillos4, .transparent_platillos5, .transparent_platillos6, .transparent_platillos7, .transparent_platillos8, .transparent_platillos9, .transparent_platillos10, .transparent_platillos11{               
    width: 180px;
    height: 180px;
    background: #0006;
    position: relative;
    bottom: 210px;
    left: 25px;
    border-radius: 5px;
    border: 0.5px solid #E90305;
    display: none;
}
.letra_platillos{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 30px;
    padding-left: 5px;
}
.vermas{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.5rem;
    background: #1719;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    margin-top: 70px;   
}
.transparent_platillos1 a, .transparent_platillos2 a, .transparent_platillos3 a, .transparent_platillos4 a, .transparent_platillos5 a, .transparent_platillos6 a, .transparent_platillos7 a, .transparent_platillos8 a, .transparent_platillos9 a, .transparent_platillos10 a, .transparent_platillos11 a{
    text-decoration: none;
}
.cerrarPlatillos{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.3rem;
    background: #1719;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}



































