.header{
    display: flex;
    }
.imgA__header{
    display: none;
}
.imgB__header{
    display: none;
}
.menu__table{
    display: block;
    width: 80%;
}
.menu_table__six{
display: flex;
justify-content: center;
}
.menu_table__six a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    list-style: none;
    font-weight: bold;
}
.menu_table__six li{
padding: 20px;
text-align: center;
font-size: 1.6rem;
}
.watsapp, .telefono, .instagram, .facebook, .tiktok, .maps, .waze{
    margin-left: 50px;
}
.titulo__llegar{
    width: 30%;
    margin-top: 80px;
}
.video__ubicacion{
    width: 50%;
    margin-bottom: 150px;
}
.group{
display: flex;
justify-content: center;
}