.header{
    display: flex;
    }
.imgA__header{
    display: none;
}
.imgB__header{
    display: none;
}
.menu__table{
    display: block;
    width: 80%;
}
.menu_table__six{
display: flex;
justify-content: center;
}
.menu_table__six a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    list-style: none;
}
.menu_table__six li{
padding: 10px;
text-align: center;
}

.menuA__platillos{
    width: 50%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    }
    .menuA__platillos-padre img{
        width: 100%;
    }