.header{
    display: flex;
    }
.imgA__header{
    display: none;
}
.imgB__header{
    display: none;
}
.menu__table{
    display: block;
    width: 80%;
}
.menu_table__six{
display: flex;
justify-content: center;
}
.menu_table__six a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    list-style: none;
}
.menu_table__six li{
padding: 10px;
text-align: center;
}
.restaurant__menu{
    width: 100%;
    margin-top: 70px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(6, 500px);
    margin-left: auto;
    margin-right: auto;
}
.restaurant__menu img{
    width: 100%;
    height: 500px;
}
