*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-image: url(../img/principal/fondo.jpg);
}
@font-face {
    font-family: "Fuente  Lato";
    src: url(Lato.zip);
}
.header{
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: rgb(34, 34, 34) 5px 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
}
.log__header{
    width: 40%;
    max-width: 130px;
    padding-bottom: 2px;
}
.imgA__header{
    width: 30px;
    height: 30px;
}
.imgB__header{
    width: 30px;
    height: 30px;
    display: none;
}
.menu__phone{
    width: 35%;
    background: #fff9;
    border-radius: 0px 0px 5px 5px;
    position: fixed;
    top: 68px;
    right: 5%;
    justify-content: center;
    display: none;
    z-index: 20;
}
.menu_phone__six{
list-style: none;
text-align: center;
}
.menu_phone__six a{
    text-decoration: none;
    color: #005400;
    font-size: 1.2rem;
    font-weight: bold;
}
.menu_phone__six li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.menu__table{
    display: none;
}
.local__float{
    position: fixed;
    top: 250px;
    right: 10px;
    z-index: 20;
}
.titulo__reservation{
    width: 60%;
    margin-top: 100px;
    color: #005400;
    background: #fff6;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}
.info__resercation{
    width: 70%;
    background: #fff6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 6px;
    padding: 5px;
}
.info__resercation p{
    color: #005400;
    padding: 3px;
    font-size: 1.6rem;
}
.contacto{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.vinculos__info p{
    text-align: center;
    color: #E90305;
}
.titulo2__reservation{
    width: 60%;
    margin-top: 20px;
    color: #005400;
    background: #fff6;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}
.eventos__img{
    width: 100%;
display: grid;
grid-template-columns: repeat(2, 155px);
grid-template-rows: repeat(3, 250px);
margin-top: 20px;
justify-content: center;
}
.eventos__img img{
    width: 100%;
    height: 100%;
}
.eventos__videos{
width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;

}
.eventos__videos video{
width: 100%;

}